:root {
  --shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);
  --shadow-top: 0 -0.25rem .25rem rgba(0, 0, 0, .1);
  --gradient: linear-gradient(to bottom, var(--p5), var(--p6));
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: var(--c2);
  -webkit-font-smoothing: antialiased; 
}

h1, h2, h3, h4, h5, h6, 
ul, 
p,
blockquote {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--c6);
}

a:hover {
  border-bottom: 1px solid var(--c8);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html { -webkit-text-size-adjust: 100%; }

button,
input,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;      
  font-size: 16px;          
  line-height: 1.2;         
}

input[type="number"] {
  -webkit-appearance: textfield;
  margin: 0;
}

input::placeholder { color: var(--c6); opacity: 1; }

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,   /* 0 = contorno, 1 = preenchido */
    'wght' 400, /* espessura */
    'GRAD' 0,   /* contraste */
    'opsz' 48;  /* tamanho ótico */
}