#presentes {
  background: var(--c3);
}

.presentes-bg {
    padding: 0 6rem;
}

.presentes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  max-width: 960px;
  width: 100%;
  margin: 0 auto 9.25rem;
  justify-items: center; 
}

.container-presente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  background: var(--c2);
  padding: 2rem;
  gap: 2rem;
  outline: 2px solid var(--p4);
  outline-offset: -1rem;
  box-shadow: var(--shadow);
  position: relative;
}

.desc-preco {
  display: flex;
  flex-direction: column;
}

.desc {
  font-weight: bold;
}

.preco {
  text-align: right;
}

@media (max-width: 1000px) {
  .presentes-bg {
    padding: 0 3rem;
  }

  .presentes {
      margin: 0 auto 7rem auto;
  }
}

@media (max-width: 500px) {
  .presentes-bg {
    padding: 0 1.5rem;
  }

  .presentes {
      margin: 0 auto 5rem auto;
  }
}