<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Emanuele & Lucas</title>
  <meta name="description" content="Estamos prestes a viver um dos dias mais especiais da nossa vida — e queremos você ao nosso lado! Aqui você encontra todos os detalhes do nosso casamento.">
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">

  <link rel="preload" href="./styles/main.css" as="style">
  <link rel="stylesheet" href="./styles/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">

  <script type="module" src="./scripts/main.js"></script>
</head>

<body id="index">
  <header class="header-bg">
    <div class="header">
      <nav class="menu-desktop">
        <div class="header-menu-left">
          <ul class="font-1-m c1">
            <li><a href="#historia">Nossa História</a></li>
            <li><a href="#orientacoes">Orientações</a></li>
            <li><a href="#presenca">Confirme sua presença!</a></li>
          </ul>
        </div>
      </nav>

      <div id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="header-menu-right">
        <ul class="font-1-m c1">
          <li class=""><a href="#presentes">Escolha seu presente</a></li>
          <li><a href="#carrinho"><img src="./img/icons/cart.svg" alt="Meu carrinho" width="24px" height="22px"></a></li>
        </ul>
      </div>
    </div>

    <nav class="menu-mobile">
      <ul class="font-1-m c1">
        <li><a href="#historia">Nossa História</a></li>
        <li><a href="#orientacoes">Orientações</a></li>
        <li><a href="#presentes">Escolha seu presente</a></li>
        <li><a href="#presenca">Confirme sua presença!</a></li>
      </ul>
    </nav>
  </header>

  <main class="intro-bg">
    <div class="intro">
      <img src="./img/dec/monograma.svg" alt="Emanuele & Lucas" width="400" height="292">
    </div>
  </main>

  <article class="countdown-bg">
    <div class="countdown">
      <span id="counter" class="font-1-xxl c10"></span>
    </div>
  </article>

  <article class="container-bg" id="historia">
    <div class="container">
      <div class="flower-2-left">
        <img src="./img/dec/flower-2-left.svg" alt="" width="292" height="253">
      </div>
      <h2 class="font-1-xl p6">Nossa História</h2>
      <div class="historia-text">
        <p class="font-2-m c11">
          Era 2020, a uma semana do início da pandemia e, após algumas trocas de DM, um convite para um chopinho em um sábado à noite. Dentre risos e horas de conversas profundas, perdemos as contas de quantos chopinhos tomamos naquela noite, tudo que sabemos é que praticamente fomos recolhidos pelas moças da limpeza do bar, que só esperavam irmos embora para poder fechar. Mal sabíamos que dali pra frente, tudo seria diferente, mas as horas de conversa fácil e riso frouxo davam alguma ideia sobre isso.
        </p>
        <p class="font-2-m c11">
          Nunca mais nos desgrudamos. No meio das incertezas da pandemia, a certeza que tínhamos era de que seguiríamos juntos dali em diante. O Lucas conheceu a Pandora, e talvez tenha se apaixonado ainda mais por ela do que pela mamãe dela (pelo menos a mamãe teve essa impressão 😅 mas como julgar? Ela é perfeita mesmo). Seguimos enfrentando uma pandemia, e dentre lives, máscaras e álcool em gel, nossa parceria foi aumentando.
        </p>
        <p class="font-2-m c11">
          Passou um ano, e uma decisão importante também ajudou a definir o rumo da nossa relação: uma mudança de cidade e estado. Recomeçamos a vida em um novo lugar, morando juntos.
        </p>
        <p class="font-2-m c11">
          Hoje, 5 anos depois daquele chopinho inofensivo em um sábado a noite, olhamos pra trás e vemos que construímos uma trajetória cheia de amor e cumplicidade. Certamente tivemos desafios pelo caminho (como tudo que vale a pena nessa vida), mas sempre escolhemos lutar pelo nosso amor. Agora, chegou a hora de olhar pra frente, para o futuro, e mal podemos esperar pelo grande passo que vai dar início a tudo isso: o nosso casamento!
        </p>
      </div>
      <div class="flower-2-right">
        <img src="./img/dec/flower-2-right.svg" alt="" width="292" height="253">
      </div>
    </div>
  </article>

  <article class="galeria">
    <img src="./img/pictures/1.jpg" alt="">
    <img src="./img/pictures/2.jpg" alt="">
    <img src="./img/pictures/3.jpg" alt="">
    <img src="./img/pictures/4.jpg" alt="">
    <img src="./img/pictures/5.jpg" alt="">
    <img src="./img/pictures/6.jpg" alt="">
    <img src="./img/pictures/7.jpg" alt="">
    <img src="./img/pictures/8.jpg" alt="">
    <img src="./img/pictures/9.jpg" alt="">
    <img src="./img/pictures/10.jpg" alt="">
    <img src="./img/pictures/11.jpg" alt="">
    <img src="./img/pictures/12.jpg" alt="">
  </article>

  <article class="container-bg" id="orientacoes">
    <div class="container">
      <h2 class="font-1-xl p6">Orientações</h2>
      <img src="./img/pictures/casarao.jpg" alt="Vila Casarão">
      <div class="orientacoes-text">

      </div>
    </div>
  </article>
</body>

</html>