.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 9.25rem 9.25rem;
}

@media (max-width: 1500px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4rem 4rem;
  }
}

@media (max-width: 800px) {
  .galeria {
    grid-template-columns: 1fr;
    padding: 1.5rem 1.5rem;
  }

  .galeria img:nth-child(3),
  .galeria img:nth-child(4),
  .galeria img:nth-child(5),
  .galeria img:nth-child(8),
  .galeria img:nth-child(11),
  .galeria img:nth-child(12) {
    display: none;
  }
  
}