.historia-bg {
  background: var(--gradient);
  padding: 9.25rem 9.25rem;
  box-shadow: var(--shadow-top), var(--shadow);
  overflow-x: hidden;
}

.historia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: var(--c2);
  padding: 4rem 6rem;
  gap: 2rem;
  outline: 2px solid var(--p5);
  outline-offset: -1rem;
  box-shadow: var(--shadow);
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
}

.historia p {
  max-width: 80ch;
}

.flower-2-left {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: -100px;
  left: -100px;
}

.flower-2-right {
  position: absolute;
  width: 250px;
  height: auto;
  top: -80px;
  right: -100px;
}

@media (max-width: 1000px) {
  .historia-bg {
    padding: 7rem 3rem;
  }

  .historia {
    padding: 3rem 3rem;
    gap: 1.5rem;
  }

  .flower-2-left {
    width: 200px;
    bottom: -100px;
    left: -100px;
  }

  .flower-2-right {
    width: 200px;
    top: -65px;
    right: -100px;
  }
}


@media (max-width: 1000px) {
  .flower-2-left {
    width: 150px;
    bottom: -75px;
    left: -75px;
  }

  .flower-2-right {
    width: 150px;
    top: -80px;
    right: -75px;
  }
}