.intro-bg {
  background: var(--p5) url('../../img/dec/header-bg.svg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 88px);
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro img {
  height: 30%;
  width: auto;
}