.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 3rem;
}

.container.modal-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.modal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-buttons .botao {
  border: 2px solid var(--p4);
  padding: .5rem 2rem;
  font-weight: 600;
  cursor: pointer;
  width: 30%;
}

.modal-buttons .botao:hover {
  border: 2px solid var(--p5);
  color: var(--p6);
}

.music-icon {
  position: fixed;
  bottom: 5%;
  left: 0;
  background: var(--p5);
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  position: fixed;
  bottom: 5%;
  left: 0;
  background: var(--p5);
  padding: 2rem;
  outline: 2px solid var(--c1);
  outline-offset: -.5rem;
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controles span {
  cursor: pointer;
}